body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #202329;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card2 {
  position: relative;
  overflow: hidden;
  margin: 5px;
  cursor: pointer;
}
.card2::before {
  position: absolute;
  content: '';
  width: 80%;
  height: 220%;
  background: rgba(2,35,32,0.7);
  top: -50%;
  left: -100%;
  z-index: 1;
  transform: rotate(25deg);
  transform-origin: center top 0;
  transition: .5s;
}
.card2:hover::before {
  left:  50%;
}
.card2 img {
  width: 100%;
  height: auto;
}
.card2-text {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: -100%;
  color: #fff;
  left: 0;
  z-index: 2;
  transition: .7s;
}
.card2:hover .card2-text {
  top: 80px;
}
